
version: '2.3'

services:
  rabbit1:
    image: "rabbitmq:3-management"
    hostname: "rabbit1"
    environment:
      RABBITMQ_ERLANG_COOKIE: "SWQOKODSQALRPCLNMEQG"
      RABBITMQ_DEFAULT_USER: "rabbitmq"
      RABBITMQ_DEFAULT_PASS: "rabbitmq"
      RABBITMQ_DEFAULT_VHOST: "/"
    ports:
      - "15672:15672"
      - "5672:5672"
    labels:
      NAME: "rabbitmq1"

  db:
    image: postgres
    restart: always
    environment:
      POSTGRES_PASSWORD: admin
      #POSTGRES_USER:
    ports:
      - "5432:5432"

  elasticsearch1:
    image: docker.elastic.co/elasticsearch/elasticsearch:5.6.3
    container_name: elasticsearch1
    environment:
      - cluster.name=docker-cluster
      - xpack.security.enabled=false
      - bootstrap.memory_lock=true
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    mem_limit: 1g
    volumes:
      - esdata1:/usr/share/elasticsearch/data

    ports:
      - 9200:9200
    networks:
      - esnet

  ipython:
    image: ipython/notebook
    container_name: notebook
    restart: always
    environment:
      PASSWORD: bookbook
      USE_HTTP: 1
    ports:
      - "80:8888"

  elasticserch-head:
    image: mobz/elasticsearch-head:5
    container_name: es-head
    restart: always
    ports:
      - "9100:9100"

volumes:
  esdata1:
    driver: local

networks:
  esnet:
